@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Manrope", sans-serif;
  }
}

@layer utilities {
  .loading {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
      box-shadow: none;
    }
    to {
      transform: rotate(360deg);
      box-shadow: none;
    }
  }
}
