* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --TEXTCOLOR: #958f8a;
}

body {
  background: url(./images/bg-pattern.svg) no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 450px;
  width: 100%;
  margin: 0 0.5rem;
}

@media screen and (min-width: 1440px) {
  body {
    background-size: contain;
  }
}
