* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --TEXTCOLOR: #958f8a;
}

body {
  background: url(./images/bg-pattern.svg) no-repeat #fdfdff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 2rem 0.5rem;
}

h2 {
  color: #293157;
}

.top-text {
  background: url(./images/pattern-circles.svg) no-repeat center center;
  background-size: auto;
  padding: 3rem 1.5rem;
  text-align: center;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  color: #8991a7;
}

main {
  background-color: #fff;
  margin: 1rem;
  padding: 1rem 0;
  border-radius: 15px;
  text-align: center;
  box-shadow: 4px 6px 20px -8px #eff0f5;
}

.billing {
  padding: 1rem 1.5rem;
}

.date {
  font-size: 1rem;
  color: #8991a7;
  vertical-align: middle;
}

.page-views {
  letter-spacing: 1px;
  font-weight: bold;
}

.slider {
  width: auto;
  padding: 1rem 0;
}
.slider input {
  background: linear-gradient(to right, #10d5c2 0%, #10d5c2 50%, #eaeefb 50%, #eaeefb 100%);
  border-radius: 8px;
  height: 8px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  transition: all 450ms ease-in;
  -webkit-appearance: none;
  appearance: none;
}
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(https://raw.githubusercontent.com/milenig/fend-mentor_pricing-component/3ccfd6b18e87377a950915288ef64c896969bf62/images/icon-slider.svg) rgb(16, 213, 194) center no-repeat;
  box-shadow: 0px 10px 20px 0px rgba(16, 213, 194, 0.7);
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}
input:hover {
  background: url(https://raw.githubusercontent.com/milenig/fend-mentor_pricing-component/3ccfd6b18e87377a950915288ef64c896969bf62/images/icon-slider.svg) rgb(27, 230, 209) center no-repeat;
}
input:active {
  cursor: grabbing;
  background: url(https://raw.githubusercontent.com/milenig/fend-mentor_pricing-component/3ccfd6b18e87377a950915288ef64c896969bf62/images/icon-slider.svg) rgb(13, 190, 173) center no-repeat;
}

.scrollbar .btn {
  background-color: #12d6c4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}

.scrollbar .btn:hover {
  cursor: pointer;
  box-shadow: 0px 10px 15px 0px #12d6c4;
}

.scrollbar .btn.scroll {
  background-color: #21aea1;
}

.discount {
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  background-color: #f9f0e7;
  color: #ea9677;
  font-size: 0.8rem;
}

.period {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
  margin: 0 15px;
}
.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(223, 50%, 87%);
  transition: 0.2s;
}
.slide:hover {
  background-color: hsl(174, 77%, 80%);
}

.slide::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slide.round {
  border-radius: 34px;
}

.slide.round:before {
  border-radius: 50%;
}

.slide input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slide input:checked + .slide {
  background-color: hsl(174, 86%, 45%);
}

.slide input:focus + .slide {
  box-shadow: 0 0 1px hsl(174, 86%, 45%);
}

.slide input:checked + .slide:before {
  transform: translateX(18px);
}

hr {
  height: 2px;
  background-color: #eef0f9;
  border: none;
}

.details {
  padding: 1rem;
}

ul li {
  list-style: none;
  list-style-image: url("./images/icon-check.svg");
  list-style-position: inside;
  line-height: 2;
  color: #8991a7;
}

.start {
  background-color: #293157;
  border-radius: 25px;
  padding: 0.8rem 2rem;
  font-size: 0.9rem;
  border: none;
  color: #cbd8fe;
  margin-top: 0.5rem;
}

@media screen and (min-width: 600px) {
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .period {
    justify-content: flex-end;
  }

  .amount.mobile {
    display: none;
  }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-size: contain;
  }
}
