* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  --TEXTCOLOR: #958f8a;
}

.container {
  width: 100%;
}

.slider-container {
  display: flex;
}

.image-cont {
  background: url(./images/pattern-bg.svg) no-repeat;
}
