@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --DARKBLUE: hsl(209, 23%, 22%);
  --VERYDARKBLUE: hsl(207, 26%, 17%);
  --LIGHTDARKBLUE: hsl(200, 15%, 8%);
  --DARKGREY: hsl(0, 0%, 52%);
  --VERYLIGHTGRAY: hsl(0, 0%, 98%);
}
