@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --PALEVIOLET: hsl(276, 100%, 81%);
  --MODERATEVIOLET: hsl(276, 55%, 52%);
  --DARKVIOLET: hsl(271, 15%, 43%);
  --GRAYISHBLUE: hsl(206, 6%, 79%);
  --VERYDARKVIOLET: hsl(271, 36%, 24%);
  --DARKGRAYISHVIOLET: hsl(270, 7%, 64%);
  --LEFTBGBOX: hsl(293, 100%, 63%);
  --RIGHTBGBOX: hsl(264, 100%, 61%);
  --APPBG: #f5f3f8;
}

.container {
  position: relative;
  height: 100vh;
}

.content {
  padding: 1rem;
  display: flex;
  flex-flow: column;
}

.mobile-outer {
  max-width: 350px;
  width: 100%;
  min-height: 635px;
  border: 12px solid #fff;
  border-radius: 50px;
  box-shadow: 5px 25px 27px -8px #ebe9ee;
}

.chat-container {
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: var(--APPBG);
  border-radius: 40px;
}

.chat-profile {
  width: 100%;
  padding: 1rem;
  position: relative;
  border-radius: 40px 40px 10px 10px;
  background: rgb(151, 59, 254);
  background: linear-gradient(90deg, rgba(151, 59, 254, 1) 42%, rgba(213, 67, 255, 1) 92%);
}

.mobile-notch {
  width: 180px;
  height: 25px;
  border-radius: 2px 2px 20px 20px;
  background-color: #fff;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #fff;
}

.profile-info .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 5px; */
}

.profile-img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 10px;
}

.name {
  font-weight: 500;
}

.status {
  color: #d181ff;
  font-weight: 500;
}

.chat-section {
  padding: 0.7rem;
}

.chat-body {
  max-width: 250px;
  width: 80%;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
}

.chat-body.receiver {
  background-color: #ede5f3;
  color: #9100e5;
  border-radius: 15px 15px 15px 1px;
  box-shadow: -7px 10px 19px -3px #f7f3fa;
}

.chat-body.sender {
  background-color: #fff;
  color: #7c7982;
  border-radius: 15px 15px 1px 15px;
  margin-left: auto;
  box-shadow: 10px 10px 19px -3px #ebe9ee;
}

.chat-body .text {
  font-size: 0.9rem;
}

.pics {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5rem;
}

.pics img {
  width: 72px;
  padding: 5px 7px;
  border-radius: 25%;
  cursor: pointer;
}

.price-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  width: 90%;
  padding: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
  background: rgb(213, 67, 255);
  background: linear-gradient(90deg, rgba(213, 67, 255, 1) 24%, rgba(211, 67, 255, 1) 26%, rgba(151, 59, 254, 1) 54%);
  border-radius: 20px 20px 20px 2px;
  box-shadow: 10px 10px 19px -3px #ebe9ee;
}

.price-tab .distance {
  display: flex;
  align-items: center;
  gap: 5px;
}

.distance .loading {
  width: 20px;
  height: auto;
  mix-blend-mode: darken;
}

.content .about-app {
  text-align: center;
}

.msg-box {
  position: relative;
}
.msg-input {
  width: 100%;
  height: auto;
  padding: 1.2rem;
  border-radius: 50px;
  border: none;
  outline: 1px solid #d181ff;
}

.msg-submit {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #452c59;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

.msg-submit:hover {
  background-color: #d181ff;
  color: #452c59;
  cursor: pointer;
}

.msg-submit img {
  transform: scale(-1);
}

.about-app .about-title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--VERYDARKVIOLET);
  margin: 1.5rem 0;
}

.about-app .about-para {
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--DARKGRAYISHVIOLET);
  max-width: 450px;
  width: 100%;
}

.rounded-box {
  max-width: 600px;
  max-height: 770px;
  width: 50%;
  height: 60%;
  position: absolute;
  z-index: -1;
}
.rounded-box.left-svg {
  background: rgb(151, 59, 254);
  background: linear-gradient(90deg, rgba(151, 59, 254, 1) 42%, rgba(213, 67, 255, 1) 92%);
  left: 0;
  top: 0;
  border-radius: 0 0 60% 0;
}
.rounded-box.right-svg {
  background-color: #f7f5fa;
  right: 0;
  bottom: 0;
  border-radius: 60% 0 0 0;
}

@media screen and (min-width: 800px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    gap: 10%;
  }

  .chat-body {
    width: 100%;
  }

  .price-tab {
    width: 100%;
  }

  .content .about-app {
    text-align: left;
  }

  .rounded-box {
    width: 100%;
    height: 100%;
  }
  .rounded-box.left-svg {
    border-radius: 0 0 50% 50%;
  }
  .rounded-box.right-svg {
    border-radius: 50% 50% 0 0;
  }
}
