@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --PALEVIOLET: hsl(276, 100%, 81%);
  --MODERATEVIOLET: hsl(276, 55%, 52%);
  --DARKVIOLET: hsl(271, 15%, 43%);
  --GRAYISHBLUE: hsl(206, 6%, 79%);
  --VERYDARKVIOLET: hsl(271, 36%, 24%);
  --DARKGRAYISHVIOLET: hsl(270, 7%, 64%);
  --LEFTBGBOX: hsl(293, 100%, 63%);
  --RIGHTBGBOX: hsl(264, 100%, 61%);
  --APPBG: #f5f3f8;
}

.container {
  position: relative;
}

.content {
  margin: 2.5rem;
}

.mobile-outer {
  max-width: 375px;
  width: 100%;
  height: 812px;
  background-color: var(--DARKVIOLET);
  border-radius: 38.5px;
  margin: 0 auto;
  padding: 1rem 0;
}

.chat-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--APPBG);
  border-radius: 38.5px;
}

.chat-profile {
  width: 100%;
  padding: 1rem;
  position: relative;
  border-radius: 20px 20px 10px 10px;
  background: rgb(151, 59, 254);
  background: linear-gradient(90deg, rgba(151, 59, 254, 1) 42%, rgba(213, 67, 255, 1) 92%);
}

.mobile-notch {
  width: 180px;
  height: 25px;
  border-radius: 3px 3px 20px 20px;
  background-color: #fff;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #fff;
}

.profile-info .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 5px; */
}

.profile-img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 10px;
}

.name {
  font-weight: 500;
}

.status {
  color: #d181ff;
  font-weight: 500;
}

.chat-section {
  padding: 1rem;
}

.chat-body {
  width: 250px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.chat-body.receiver {
  background-color: #ede5f3;
  color: #d181ff;
  border-radius: 25px 25px 25px 2px;
  box-shadow: -7px 10px 19px -3px #f7f3fa;
}

.chat-body.sender {
  background-color: #fff;
  color: #7c7982;
  border-radius: 25px 25px 2px 25px;
  transform: translateX(55px);
  box-shadow: 10px 10px 19px -3px #ebe9ee;
}

.chat-body .text {
  font-size: 0.9rem;
}

.content .about-app {
  text-align: center;
}

.about-app .about-title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--VERYDARKVIOLET);
  margin: 1.5rem 0;
}

.about-app .about-para {
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--DARKGRAYISHVIOLET);
  max-width: 450px;
  width: 100%;
}
